body{background-size: cover
    ;background-image: url(https://www.teahub.io/photos/full/180-1802585_fondos-de-pantalla-anime-hd-para-pc-4k.jpg);}
    h1{font-family: 'Tilt Prism', cursive;background-color: rgba(0, 0, 0, 0.5);}
    th{font-family: 'Smokum', cursive;color: rgba(247, 247, 255, 0.856);background-color: rgba(0, 0, 0, 0.562);}
    td{color: rgba(255, 249, 249, 0.849);
    ;background-color: rgba(0, 0, 0, 0.61);}
    table{color: rgba(0, 0, 0, 0.658);}